{% extends 'index.html' %}
{% load static %}
{% block content %}
<html>
    <body>
        <div id="container1" style="background-color:#f5f6fa;">
            <div class="headline" style="display: flex; flex-direction: row; justify-content: space-between;">
            <div class="image" style="display: flex;"><img src="{% static './logo1.PNG' %}" style="width: 200px; height: 60px;">
            </div>
            <div class="tags" style="display: flex;">
                <div class="icons" style="display: flex; flex-direction: row; justify-content: space-around;">
                    <div class="small1" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white; "><a href="{% url 'index' %}" style="text-decoration: none; color: white;">HOME</a></button></div>
                    <div class="small2" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'ad' %}" style="text-decoration: none; color: white;">SELL</a></button></div>
                    <div class="small3" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'about' %}" style="text-decoration: none; color: white;">ABOUT ME</a></button></div>
                    <div class="small4" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;">PROFILE</button></div>
                    <div class="small5" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'logout' %}" style="text-decoration: none; color: white;">LOGOUT</a></button></div>               
                </div>
            </div>
            </div>
        </div>
        <p style="font-size: 23px;font-family:sans-serif;line-height: 1.15;color: black; text-align: center;  margin-top: 25px;"><b>POST YOUR AD</b></p>

        <div class="post">
            <center>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                        <button type="submit" style="padding: 10px; border: none; color: lightslategrey; font-size: 20px; background-color: lightgrey; border-radius: 10px;;"><b>Post now</b></button>
                </form>
            </center>
        </div>
    </body>
</html>
{% endblock %}

