{% extends 'index.html' %}
{% load static %}
{% block content %}
<div id="container1" style="background-color:#f5f6fa;">
    <div class="headline" style="display: flex; flex-direction: row; justify-content: space-between;">
    <div class="image" style="display: flex;"><img src="{% static './logo1.PNG' %}" style="width: 200px; height: 60px;">
    </div>
    <div class="tags" style="display: flex;">
        <div class="icons" style="display: flex; flex-direction: row; justify-content: space-around;">
            <div class="small1" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white; "><a href="{% url 'index' %}" style="text-decoration: none; color: white;">HOME</a></button></div>
            <div class="small2" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'ad' %}" style="text-decoration: none; color: white;">SELL</a></button></div>
            <div class="small3" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'about' %}" style="text-decoration: none; color: white;">ABOUT ME</a></button></div>
            <div class="small4" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'profile' %}" style="text-decoration: none; color: white;">PROFILE</a></button></div>
            <div class="small5" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'logout' %}" style="text-decoration: none; color: white;">LOGOUT</a></button></div>               
        </div>
    </div>
    </div>
</div>

<h1 style="text-align: center; margin-top: 20px;"> Hostel Stuffs</h1>
<div class="row" style="margin-left: 5px;">
    {% for a in items %}
        <div class="col-sm-3">
            <a href="{% url 'detail' a.id %}" style="text-decoration: none; color: black;">
            <div class="card m-2">
            <center>
            <small class="" style="text-align: center; font-size: 15px;;">{{a.category}}</small><br>
            <img src="{{a.image.url}}" alt="" class="card" height="190px" width="265px" style="border: none;">
            <small style="text-align: center; font-size: 15px;">{{a.title}}</small><br>
            <small class="" style="text-align: center; font-size: 25px;"><b>&#8377;{{a.price}}</b></small><br>
            <small class="" style="text-align: center;">{{a.published_on}}</small><br>
            </center>
            </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}