{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>My Shop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<style>
	.button{
		background-color: #eb2f06;
		cursor: pointer;
	}
	.button:hover{
		background-color:#2f3542;
	}
</style>
<body>
{% block content %}
<div id="container1" style="background-color:#f5f6fa;">
<div class="headline" style="display: flex; flex-direction: row; justify-content: space-between;">
<div class="image" style="display: flex;"><img src="{% static './logo1.PNG' %}" style="width: 200px; height: 60px;">
</div>
<div class="tags" style="display: flex;">
	<div class="icons" style="display: flex; flex-direction: row; justify-content: space-around;">
		<div class="small1" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white; "><a href="{% url 'index' %}" style="text-decoration: none; color: white;">HOME</a></button></div>
		<div class="small2" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'ad' %}" style="text-decoration: none; color: white;">SELL</a></button></div>
		<div class="small3" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'about' %}" style="text-decoration: none; color: white;">ABOUT ME</a></button></div>
		<div class="small4" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'profile' %}" style="text-decoration: none; color: white;">PROFILE</a></button></div>
		<div class="small5" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'logout' %}" style="text-decoration: none; color: white;">LOGOUT</a></button></div>

	</div>
</div>
</div>
</div>

<div class="main">
	<img src="{% static './uu.PNG'%}" style="width: 100%; height: 250px; margin-top: 10px;">
</div>
<h1 style="font-size: 30px; text-align: center;"> Shop By Categories</h1>
<div class="categories" style="display: flex; flex-direction: row; justify-content: space-around;">
	<a href="books/" style="text-decoration: none; color: black;"><div id="books" style="border: 1px solid gray; height: 180px; width: 170px;"><img src="{% static './books.jpg'%}" style=" margin-top: 10px;margin-left: 20px;height: 120px; width: 120px;"><br><span style="margin-left:50px; font-size: 20px;"><b>Books</b></span></div></a>
	<a href="hostel/" style="text-decoration: none; color: black;"><div id="hostel" style="border: 1px solid gray; height: 180px; width: 170px;"><img src="{% static './hostel.jpg'%}" style=" margin-top: 10px;margin-left: 20px;height: 120px; width: 120px;"><br><span style="margin-left:30px; font-size: 20px;"><b>Hostel stuff</b></span></div></a>
	<a href="musical/" style="text-decoration: none; color: black;"><div id="music" style="border: 1px solid gray; height: 180px; width: 170px;"><img src="{% static './music.jpg'%}" style=" margin-top: 10px;margin-left: 20px;height: 120px; width: 120px;"><br><span style="margin-left:30px; font-size: 20px;"><b>Music items</b></span></div></a>
	<a href="electronic/" style="text-decoration: none; color: black;"><div id="elec" style="border: 1px solid gray; height: 180px; width: 170px;"><img src="{% static './electronic.png'%}" style="margin-top: 10px; margin-left: 20px;height: 120px; width: 120px;"><br><span style="margin-left:40px; font-size: 20px;"><b>Electronic</b></span></div></a>
	<a href="sports/" style="text-decoration: none; color: black;"><div id="sports" style="border: 1px solid gray; height: 180px; width: 170px;"><img src="{% static './sportsjpg.jpg'%}" style=" margin-top: 10px;margin-left: 20px;height: 120px; width: 120px;"><br><span style="margin-left:50px; font-size: 20px;"><b>Sports</b></span></div></a>
</div>

<p style="font-size: 25px; color: black; margin-left: 26px; margin-top: 15px;">Fresh recommendations</p>

	<div class="row" style="margin-left: 5px;">
		{% for x in final %}
			<div class="col-sm-3">
				<a href="detail/{{x.id}}" style="text-decoration: none; color: black;">
				<div class="card m-2">
				<center>
				<small class="" style="text-align: center; font-size: 15px;;">{{x.category}}</small><br>
				<img src="{{x.image.url}}" alt="" class="card" height="190px" width="265px" style="border: none;">
				<small style="text-align: center; font-size: 15px;">{{x.title}}</small><br>
				<small class="" style="text-align: center; font-size: 25px;"><b>&#8377;{{x.price}}</b></small><br>
				<small class="" style="text-align: center;">{{x.published_on}}</small><br>
				</center>
				</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
</body>
</html>

