{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>My Shop</title>
</head>
<style>
	.button{
		background-color: #eb2f06;
		cursor: pointer;
	}
	.button:hover{
		background-color:#2f3542;
	}
</style>
<body>
{% block content %}
<div id="container1" style="background-color:#f5f6fa;">
<div class="headline" style="display: flex; flex-direction: row; justify-content: space-between;">
<div class="image" style="display: flex;"><img src="{% static './logo1.PNG' %}" style="width: 200px; height: 60px;">
</div>
<div class="tags" style="display: flex;">
	<div class="icons" style="display: flex; flex-direction: row; justify-content: space-around;">
		<div class="small1" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white; "><a href="{% url 'index' %}" style="text-decoration: none; color: white;">HOME</a></button></div>
		<div class="small2" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'ad' %}" style="text-decoration: none; color: white;">SELL</a></button></div>
		<div class="small3" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'about' %}" style="text-decoration: none; color: white;">ABOUT ME</a></button></div>
		<div class="small4" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;">PROFILE</button></div>
		<div class="small5" style="display: flex;"><button class="button" style="border: none; padding: 10px; margin-right: 10px; height: 40px; margin-top: 9px; border-radius: 10px; color: white;"><a href="{% url 'logout' %}" style="text-decoration: none; color: white;">LOGOUT</a></button></div>

	</div>
</div>
</div>
</div>
{% endblock %}
</body>
</html>
